/* custom home page
===================================================*/

.header {
    height: 100vh;
    font-family: "Quicksand", san-serif;
    font-weight: 800;
    line-height: 1.7rem;
  }
  
  .menu-list {
    list-style: none;
    font-weight: 200; 
    position: absolute;
  }
  
  ul.menu-list li {
    display: inline-block;
  }
  
  ul.menu-list li:hover {
    border-bottom: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  ul.menu-list li:visited {
    color: black;
    text-decoration: none;
  }
  
  ul.menu-list a {
    color: black;
  }
  
  ul.menu-list a:hover {
    border-bottom: none;
    text-decoration: none;
    color: #00b7c8;
    cursor: pointer;
  }
  
  .slogan {
    color: black;
    font-family: "Roboto Mono" monospace;
    font-weight: 400;
  }
  
  @media only screen and (max-width: 424px) {
    .header {
    font-size: 5rem;
    }

    .menu-list {
    font-size: 3.1rem;
    }

    ul.menu-list li {
    border-bottom: 2px solid #00b7c8;
    line-height: 4rem;
    }
    
    .slogan {
        margin-left: 40px;
        line-height: 5rem;
        margin-top: 120px;
    }
    
    .menu-list {
        left: 0px;
        top: 300px;
    }
  } 
  
  @media only screen and (min-width: 425px) {
    .header {
    font-size: 5rem;
    }

    .menu-list {
    font-size: 3.1rem;
    }

    ul.menu-list li {
    border-bottom: 2px solid #00b7c8;
    line-height: 4rem;
    }
    
    .slogan {
      margin-left: 40px;
      line-height: 5rem;
      margin-top: 180px;
    }
  
    .menu-list {
      left: 0px;
      top: 300px;
    }
  } 

  @media only screen and (min-width: 594px) {
    .slogan {
        margin-top: 240px;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .header {
      font-size: 5rem;
    }
  
    .menu-list {
      font-size: 3.5rem;
    }
  
    ul.menu-list li {
      border-bottom: 2px solid #00b7c8;
      line-height: 5rem;
    }
    
    .slogan {
      margin-left: 140px;
      margin-top: 240px;
      font-size: 6rem;
    }
  
    .menu-list {
      left: 100px;
      top: 300px; 
    }
  }
  
  .img-responsive {
    border-right: 5px solid white;
    border-top: 4px solid white;
  }